/*
Theme Name: Hello Elementor Child
Theme URI: https://github.com/elementor/hello-theme/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Elementor Team
Author URI: https://elementor.com/
Template: hello-elementor
Version: 1.0.1
Text Domain: hello-elementor-child
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/*
    Add your custom styles here
*/
/* Menu */
.fix-menu{
  overflow: hidden;
   background-color: #333;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
}

#main-menu{
  box-shadow: 0 10px 50px -2px rgba(0,0,0,.14);
  overflow: hidden;
   background-color: #fff;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
   z-index: 1;
}
.menu li::before{

  position: absolute;

}
.menu li a{
  color: #6f727b;
  position: relative;
  padding: 25px 25px !important;
  font-weight: 600;
}
.menu li a:hover, .menu li a:hover .menu-icon, .menu li a:hover .menu-desc{
  color: #33a7b9;
}
.menu li.current-menu-item  a{
  color: #33a7b9;
}
.menu li a .menu-icon{
  color: #b9afa1;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 45%;
}
.menu li a .menu-desc{
  color: rgba(111,114,123,0.65);
  font-size: .8em;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 25%;
}

/* Mobile Menu */
.mobile-menu span{
  display: block;
  text-align: right;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.site-navigation-right{
  grid-area: a;
   /* display: -webkit-box; */
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: left;
   -ms-flex-align: left;
   align-items: left;
   /* -webkit-box-pack: end; */
   -ms-flex-pack: end;
   justify-content: flex-start;
   /* -webkit-box-flex: 1; */
   flex-direction: column;
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.site-navigation-right ul.menu, .site-navigation-right ul.menu ul{
  list-style-type: none;
    padding: 0;
}
.site-navigation-right ul.menu li{

    display: inline-flex;
}
.site-navigation-right ul.menu li a{
  display: block;
}

/* Slider */
.metaslider{
  padding-bottom: 0 !important;
}

/* Home page */
.content-wrapper{
  border: 1px solid #e9eaee;
  border-bottom-width: 3px;
}

.img-box{
  position: relative;
}
.img-box .title{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.img-box a:hover .content-box{
  /* -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; */
  /* -webkit-transform-style: preserve-3d
  transform: scaleX(1); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b9afa1;
}
.img-box a:hover .content-box .title{
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  font-style: italic;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform-style: preserve-3d
  transform: scaleX(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.portfolio-content{
  padding: 30px;
  background: rgba(255,255,255,1);
}
.portfolio-content .entry-title{
  color: #b9afa1;
}
.portfolio-content .sep-dotted{
  border-color: #b9afa1;
  border-bottom-style: dotted;
  border-top-style: dotted;
  height: auto;
  border-top-width: 1px;
  border-bottom-width: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.swiper-container {
     width: 100%;
     height: 100%;
   }
   .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
   }
